<div class="section section--conf-location" id="location">
  <div class="container">
    <h2 class="section__title">
      Loc<span class="a">a</span><span class="t">t</span>ion
    </h2>
    <div class="location">
      <div class="location__description">
        <p>
          NORTH STAR AI conference <br />
          takes place on <br />
          March 8, 2018
        </p>
        <p>
          Tallinn, Estonia <br />
          @Kultuurikatel <br />
          Põhja pst 27a
        </p>
      </div>
      <div class="location__map" id="map">

      </div>
    </div>
  </div>
</div>
