<div class="section section--conf-description">
  <div class="container">
    <p>
      North Star&nbsp;AI, machine intelligence conference for developers is&nbsp;happening for the first time in&nbsp;2018, March 8th!
    </p>
    <table class="proposition-table">
      <tbody>
        <tr>
          <td>
            <span class="proposition-table__item r">Topics</span>
            <p>
              The focus of the conference is Machine Learning, AI and Data Science. This includes Scaling Deep Learning, Teamwork, Data Science Shift, Computer Vision, Robotics, NLP, Semi-supervised Learning, Blockchain, Recommendation Algorithm, Data Science Systems, Decentralized Computing.
            </p>
          </td>
          <td>
            <span class="proposition-table__item a">Conference</span>
            <p>
              Full day of technical talks in 2 tracks. Topics are 100% practical with lots of case studies. This is a place to learn, share experiences, discuss challenges and meet like-minded people from all over the world!
            </p>
            <p>
              Speakers are high-level and hand-picked from US, UK, Finland, Ukraine and Estonia.
            </p>
          </td>
          <td>
            <span class="proposition-table__item t">Party</span>
            <p>
              Kick-ass party hosted by Taxify, hottest Estonian startup right now.
            </p>
            <p>
              This party includes a fireside chat with ML experts discussing latest technologies in a relaxed atmosphere. Besides that we have the obvious: delicious snacks, fizzy drinks, great music, and lots of tech people.
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
