<div class="section section--conf-description">
  <div class="container">
    <p class="txt-center">
      North Star&nbsp;AI, machine intelligence conference for developers is&nbsp;happening for the first time in&nbsp;2018, March 8th!
    </p>
    <!-- <p>
      North Star AI&nbsp;is&nbsp;a&nbsp;technical hands-on conference focusing on&nbsp;machine learning. We&nbsp;bring together developers, tech leads, data analysts, technical founders and anybody else who wants to&nbsp;learn about technical aspects of&nbsp;AI.
    </p>
    <p>
      North Star AI&nbsp;is&nbsp;all about quality and focus on&nbsp;the exchange of&nbsp;real-life experiences and case studies from practitioner to&nbsp;practitioner. We&nbsp;welcome participants who want to&nbsp;be&nbsp;up&nbsp;to&nbsp;date with the code and move ahead as&nbsp;we&nbsp;are here to&nbsp;learn and network.
    </p>
    <p>
      For the first time on&nbsp;March 8th, 2018 North Star AI&nbsp;brings to&nbsp;Tallinn great international speakers and hundreds of&nbsp;curious professionals who are all passionate about ML, AI&nbsp;and data science. This is&nbsp;a&nbsp;unique opportunity to&nbsp;tap into the leading minds of&nbsp;AI technology here in&nbsp;Estonia, the most advanced digital society in&nbsp;the world and network with experienced data scientists, engineers, analysts, and techies.
    </p>
    <p class="txt-center">
      Interested in&nbsp;partnership, drop&nbsp;us a&nbsp;line&nbsp;at: triin@aiconf.tech
    </p> -->
  </div>
</div>
