
        </section>
      </div>
      <footer class="page-footer">
        <div class="container">
          <div class="page-footer__row">
            <div class="page-footer__contacts">
              {{ partial "social-links" . }}
              <p>
                NORTH STAR AI conference <br />
                takes place on <br />
                March 8, 2018
              </p>
              <p>
                Tallinn, Estonia <br />
                @Kultuurikatel <br />
                Põhja pst 27a
              </p>
            </div>
            <div class="page-footer__subscribe">
              {{ partial "subscription-form" . }}
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="/app.js"></script>
  </body>
</html>
