<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <base href="{{ $.Site.BaseURL }}">
    <title>{{ $.Site.Title }}</title>

    <meta property="og:image" content="https://aiconf.tech/images/og-image.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">
    <meta property="og:description" content="Machine intelligence conference for developers">
    <meta property="og:title" content="North Star AI">
    <meta property="og:url" content="https://aiconf.tech">
    <meta property="og:type" content="website" />

    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon_32x32px.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon_16x16px.png">

    <link rel="stylesheet" href="/css/main.css?{{ now.Unix }}" />

    <!-- Facebook Pixel Code -->
      <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
       fbq('init', '1783813961924357');
      fbq('track', 'PageView');
      </script>
      <noscript>
        <img height="1" width="1"
        src="https://www.facebook.com/tr?id=1783813961924357&ev=PageView
        &noscript=1"/>
      </noscript>
    <!-- End Facebook Pixel Code -->

  </head>
  <body>
    <div class="page-container">
      <div class="page-wrapper">
        <header class="page-header">
          <div class="container">
            <nav class="main-nav">
              <span class="main-nav__group">
                <a href="/" class="main-nav__item main-nav__item--highlighted">North Star AI</a>
              </span>
              <span class="main-nav__group">
                <a href="/about" class="main-nav__item">About</a>
                <a href="/#location" class="main-nav__item">Location</a>
                <a href="/#speakers" class="main-nav__item">Speakers</a>
                <a href="{{ $.Site.Params.TicketsUrl }}" target="_blank" class="main-nav__item">Tickets</a>
                <a href="/sponsors" class="main-nav__item">Sponsors</a>
              </span>
            </nav>
          </div>
        </header>
        <section class="page-content">
