<form
  class="subscription-form"  action="https://triin.us4.list-manage.com/subscribe/post?u=49dd400747be9ddf0b790b487&amp;id=ce21067936"
  method="post"
  id="mc-embedded-subscribe-form"
  name="mc-embedded-subscribe-form"
  target="_blank"
  novalidate
>
  <p class="subscription-form__title">Join our mailing list</p>
  <label class="input-txt input-txt--width-full">
    <input class="input-txt__field" name="EMAIL" type="email" placeholder="Email">
  </label>
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_49dd400747be9ddf0b790b487_ce21067936" tabindex="-1" value=""></div>
  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
</form>
