.button {
  display: inline-block;
  font-size: var(--font-size-big);
  background: var(--pallete-color-teal);
  color: #ffffff !important;
  border: none;
  outline: 0;
  box-shadow: none;
  padding: 9px 16px 5px;
  height: 46px;
  border-radius: 4px;
}
