@font-face {
  font-family: 'Halcyon';
  src: url('../fonts/Studio Buchanan - Halcyon Regular.woff2') format('woff2'), url('../fonts/Studio Buchanan - Halcyon Regular.woff') format('woff'), url('../fonts/Studio Buchanan - Halcyon Regular.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Halcyon';
  src: url('../fonts/Studio Buchanan - Halcyon Medium.woff2') format('woff2'), url('../fonts/Studio Buchanan - Halcyon Medium.woff') format('woff'), url('../fonts/Studio Buchanan - Halcyon Medium.otf') format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Halcyon';
  src:url('../fonts/Studio Buchanan - Halcyon Medium Italic.woff2') format('woff2'), url('../fonts/Studio Buchanan - Halcyon Medium Italic.woff') format('woff'), url('../fonts/Studio Buchanan - Halcyon Medium Italic.otf') format('opentype');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'Halcyon';
  src: url('../fonts/Studio Buchanan - Halcyon Bold.woff2') format('woff2'), url('../fonts/Studio Buchanan - Halcyon Bold.woff') format('woff'), url('../fonts/Studio Buchanan - Halcyon Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Halcyon';
  src: url('../fonts/Studio Buchanan - Halcyon Bold Italic.woff2') format('woff2'),url('../fonts/Studio Buchanan - Halcyon Bold Italic.woff') format('woff'),url('../fonts/Studio Buchanan - Halcyon Bold Italic.otf') format('opentype');
  font-style: italic;
  font-weight: 700;
}
