.proposition-table {
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 26px;
  margin: 28px 0 0 0;

  &__item {
    display: block;
    font-weight: bold;
    text-align: center;
    margin: 0 0 16px 0;
  }

  & td {
    width: 33%;
    text-align: left;
    vertical-align: top;
    padding: 0 12px;
  }

  @media (--tablet-viewport) {
    display: block;
    margin: 0;

    & td {
      display: block;
      width: 100%;
      margin: 20px 0 0 0;
    }
  }

  @media (--mobile-viewport) {
    display: block;
    margin: 0;

    & td {
      display: block;
      width: 100%;
      margin: 20px 0 0 0;
    }
  }
}
