@import "imports/vars.css";
@import "imports/normalize.css";
@import "imports/fonts.css";
@import "imports/page-header.css";
@import "imports/page-footer.css";
@import "imports/button.css";
@import "imports/input-txt.css";
@import "imports/main-nav.css";
@import "imports/social-links.css";
@import "imports/intro.css";
@import "imports/section.css";
@import "imports/schedule.css";
@import "imports/location.css";
@import "imports/speakers.css";
@import "imports/subscription-form.css";
@import "imports/article.css";
@import "imports/proposition-table.css";

@lost gutter 40px;
@lost flexbox flex;

* {
  box-sizing:border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Halcyon', sans-serif;
  background: var(--pallete-color-dark);
  color: var(--pallete-color-white);
  font-size: var(--font-size-default);
  line-height: 1.35;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
}

.page-wrapper {
  flex: 1 0 auto;
}

.page-content {
  padding: 40px 0;

  @media (--mobile-viewport) {
    padding: 20px 0;
  }
}

.container {
  display: block;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;

  @media (--mobile-viewport) {
    padding: 0 16px;
  }
}

a {
  text-decoration: none;
  color: var(--pallete-color-white);

  &:hover {
    color: var(--pallete-color-teal);
  }
}

p {
  margin: 0 0 20px 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.txt-center {
  text-align: center;
}

h3 {
  font-size: 32px;
  font-weight: 500;
}

.sponsors {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 40px 0;

  &__title {
    margin: 0 60px 0 0;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
    margin: 0 40px;

    & img {
      display: inline-block;
      vertical-align: top;
      max-width: 320px;
      margin: 0 0 40px 0;
    }
  }

  &--big {
    & img {
      max-width: 70%;

      @media (--tablet-viewport) {
        min-width: 100%;
      }
    }
  }

  @media (--mobile-viewport) {
    display: block;

    &__title {
      margin: 0 0 40px 0;
    }

    &__content {
      display: block;
    }

    &__link {
      display: block;
      margin: 0 0 40px 0;
    }

    & img {
      max-width: 70%;
    }

    &--big {
      & img {
        max-width: 100%;
      }
    }
  }
}
