{{ partial "header" . }}

{{ partial "intro" . }}

{{ partial "conf-description" . }}

{{ range $.Site.Data.speakers }}
   {{ partial "conf-speakers" . }}
{{ end }}

{{ range $.Site.Data.schedule }}
   {{ partial "conf-schedule" . }}
{{ end }}

{{ range $.Site.Data.schedule }}
   {{ partial "conf-schedule-parallel" . }}
{{ end }}

<div class="section section--conf-description">
  <div class="container">
    <p class="txt-center">
      <a href="{{ $.Site.Params.TicketsUrl }}" target="_blank" class="button">Get your ticket</a>
    </p>
  </div>
</div>


{{ partial "conf-location" . }}

<div class="section section--conf-sponsors">
  <div class="container">
    {{ range $.Site.Data.sponsors }}
       {{ partial "conf-sponsors" . }}
    {{ end }}
  </div>
</div>


{{ partial "footer" . }}
